<%- include('partials/head') %>
<body id="homepage">
    
        <header>
            <h1 class="page__title">Crypto<b class="page__title page__title--bold">UNAL</b></h1>
            <div action="/logout">
                <input type="button" value="Logout" class="button_home" onclick="window.location.href = '/'">
            </div>
        </header>
        <main>
            <section class="wallets">
                <h1 class="wallets__title">Wallets </h1> 
                <div class="crypto">
                    <figure class="crypto__figure">
                        <img
                        src="img/eth.svg"
                        alt=""
                        />
                    </figure>
                    <div class="crypto__data-conteiner">
                        <div class="crypto__data crypto__data--currency">
                            <p class="crypto__text crypto__text--abbreviation-currency">ETH</p>
                            <p class="crypto__text crypto__text--value"> <%= balance %> </p>
                            
                        </div>
                        <div class="crypto__data crypto__data--exchange">
                            <p class="crypto__text crypto__text--abbreviation-currency">COP</p>
                            <p class="crypto__text crypto__text--value"> <%= balance * 12997403.24 %></p> 
                        </div>
                    </div>            
                </div>                   

            </section>

        </main>
        <div action="/logout" class="dotransaction">
            <input type="button" value="Do transaction" class="button_home" onclick="window.location.href = '/home/transaction?authenticated=true'">
        </div>
        
        <footer>
            <section class="navigation">
                <div id="navigation">
                    <ul>
                        <li class="nav-list active">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="home-outline"></ion-icon>
                                </span>
                                <span class="text">Home</span>
                            </a>
                        </li>
                        <li class="nav-list">
                            <a onclick="window.location.href = '/home/transaction?authenticated=true'">
                                <span class="icon">
                                    <ion-icon name="arrow-redo-outline"></ion-icon>
                                </span>
                                <span class="text">Transactions</span>
                            </a>
                        </li>
                        <li class="nav-list">
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="cart-outline"></ion-icon>
                                </span>
                                <span class="text">Market</span>
                            </a>
                        </li>
                        <li class="nav-list">
                            <a onclick="window.location.href = '/'">
                                <span class="icon">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </span>
                                <span class="text">Log out</span>
                            </a>
                        </li>
                        <div class="indicator"></div>
                    </ul>
                </div>
            </section>
        </footer>
        
        <script>
            const list = document.querySelectorAll('.nav-list');
            function activeLink() {
                list.forEach((item) =>
                    item.classList.remove('active'));
                this.classList.add('active');
            }
            list.forEach((item) =>
                item.addEventListener('click', activeLink));
        </script>
        
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
<%- include ('partials/footer') %>