<%- include('partials/head') %><body>
    <header>
        <h1 class="page__title">Crypto<b class="page__title page__title--bold">UNAL</b></h1>
    </header>

    <div id="change-email">

        <div class="container">
            <form class="form-box animated fadeInUp" method="POST">

                <div class="inner_container">

                    <div>
                        <input type="text" name="newemail" placeholder="new email address" value="<%= password %>" required>
                    </div>

                    <button type="submit">
                        Update
                    </button>

                </div>

            </form>
        </div>

    </div>

    <footer>
        <section class="navigation">
            <div id="navigation">
                <ul>
                    <li class="nav-list">
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li class="nav-list">
                        <a onclick="window.location.href = '/home/transaction'">
                            <span class="icon">
                                <ion-icon name="arrow-redo-outline"></ion-icon>
                            </span>
                            <span class="text">Transactions</span>
                        </a>
                    </li>
                    <li class="nav-list active">
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="text">Profile</span>
                        </a>
                    </li>
                    <li class="nav-list">
                        <a onclick="window.location.href = '/'">
                            <span class="icon">
                                <ion-icon name="log-out-outline"></ion-icon>
                            </span>
                            <span class="text">Log out</span>
                        </a>
                    </li>
                    <div class="indicator"></div>
                </ul>
            </div>
        </section>
    </footer>

    <script>
        const list = document.querySelectorAll('.nav-list');
        function activeLink() {
            list.forEach((item) =>
                item.classList.remove('active'));
            this.classList.add('active');
        }
        list.forEach((item) =>
            item.addEventListener('click', activeLink));
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

<%- include ('partials/footer') %>